.footer {
    margin-top: 180px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 1.0rem;
}

.footer .row{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer .row .footer-icon-link {
    color: #000000;
    margin: 0 10px;
}

.footer .row .footer-icon-link:hover{
    color: #4776E6;
}

.fa-heart {
    color: red;
}

.footer .sub-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom: 100px;
}

.footer .sub-footer .sub-footer-item h3{
    font-size: 1.0rem;
    margin-bottom: 20px;
}

.footer .sub-footer .sub-footer-item a{
    text-decoration: none;
}

.footer .sub-footer .sub-footer-item p{
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: grey;
}

.footer .sub-footer .sub-footer-item a p:hover{
    color: #514A9D;
    font-weight: 500;
    cursor: pointer;
}

.footer p a {
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width: 960px){
    .footer{
        width: 100%;
        margin-top: 0;
    }

    .footer .sub-footer{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer .sub-footer{
        display: none;
    }
}