.introduction {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 150px;
}

.introduction img {
    width: 450px;
}

.introduction .introduction-text h1 {

    font-size: 2.5rem;
}

.introduction .introduction-text p{
    margin-top: 20px;
    font-size: 1.0rem;
    color: #000000;
}

.introduction .introduction-text .btn-download-cv{
    display: inline-block;
    margin-top: 15px;
    padding: 7px 13px;
    background: linear-gradient(to right,#24C6DC, #514A9D);
    color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
}

.introduction .introduction-text .btn-download-cv:hover{
    cursor: pointer;
    border-radius: 3px;
    outline: 1px solid #514A9D;
    background: #ffffff;
    color:#514A9D;
    transition: all 0.4s ease-out;
}

@media screen and (max-width: 960px){
    .introduction{
        width: 100%;
        flex-direction: column;
        scroll-margin-top: 80px;
    }

    .introduction img {
        width: 300px;
    }

    .introduction .introduction-text p{
        font-size: 1.0rem;
        color: #000000b4;
    }

    .introduction .introduction-text .btn-download-cv{
        margin-top: 20px;
        padding: 10px 16px;
        font-weight: 600;
    }
}