.subscribe {
    margin-top: 200px;
    margin-bottom: 50px;
    height: 350px;
    background: linear-gradient(to right, #4776E6, #8E54E9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    scroll-margin-top: 150px;
    box-sizing: border-box;
    padding-left:35px;
    padding-right:35px;
    border-radius: 15px;
}

.subscribe .subscribe-title{
    display: inline-block;
    margin-bottom: 30px;
}

.subscribe .subscribe-title h1{
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subscribe .subscribe-title p{
    color: #ffffff;
}

.subscribe .subscribe-content .subscribe-input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 5px;
    color: #ffffff;
    text-decoration-color: none;
    border: 1px solid #ffffff;
    background: transparent;
}

.subscribe .subscribe-content .subscribe-input::placeholder{
    color: #ffffff;
}

.subscribe .subscribe-content .btn-subscribe{
    display: inline-block;
    margin: 0 10px;
    background: #ffffff;
    border-radius: 3px;
    color: #4776E6;
    padding: 8px 10px;
    font-weight: bold;
}

.subscribe .subscribe-content .btn-subscribe:hover{
    background:  #8E54E9;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px){

    .subscribe {
        margin-top: 150px;
    }

    .subscribe .subscribe-content .btn-subscribe{
        margin-top: 15px;
    }    

    .subscribe .subscribe-title h1{
        font-size: 1.9rem;
    }
    
    .subscribe .subscribe-title p{
        font-size: 1.0rem;
    }
}